* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}


body {
    display: flex;
    flex-direction: column;
    
}

#header-main {
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

#nav-top {
    background-color: darkblue;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}


#container {
    display: flex;
    flex: 1; 
}

#nav-left {
    background-color: #ccd5ae;
    width: 200px;
    padding-top: 20px;
    font-size: 24px;
}

#aside-right {
    background-color: #ff00ff;
    width: 200px;
    padding-top: 20px;
    font-size: 24px;
}


#content {
    background-color: #ffe0f5;
    flex: 1;
    padding: 20px;
}

#header-inner {
    background-color: white;
    color: black;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#div-hero {
    background-color: #8b5a00;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#paragraph-box {
    background-color: #d1d9ff;
    color: black;
    margin: 15px 0;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    min-height: 60px;
}


#cards-container {
    display: flex;
    gap: 15px;
}

.card {
    background-color: #666;
    flex: 1;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#footer-main {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}