
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


#fundo{

position: relative;
width: 910px;
height: 755px;
background-color: rgb(118, 164, 204);
border: 5px solid black;
margin:auto;
padding: 10;


}




#topo{
position: relative;
width: 900px;
height: 150px;
background-color: rgb(33, 194, 164);
text-align: center;
padding: 50px;
box-sizing: border-box;
 
}

#le{
position: relative;
width: 900px;
height: 540px;
background-color: rgb(170, 211, 225);
padding: 10px;
box-sizing: border-box;
clear: left;
}

#conteudo{
position: absolute;
width: 600px;
height: 500px;
background-color: rgb(112, 112, 107);
top: 150px;
left: 100px;
z-index: 2;
}


#quadrado1{

position: absolute;
width: 180px;
height: 160px;
background-color: rgb(255, 255, 255);
top: 150px;
left:712px;
z-index: 2;

}


#conteudo2{
position: absolute;
width: 180px;
height: 160px;
background-color: rgb(255, 255, 255);
top: 320px;
left:712px;
z-index: 2;

}


#camera{
        
position: absolute;
width: 800px;
height: 50px;
top:530px;
left:550px;
z-index: 3;

}




#rodape{
    
position: relative;
width: 900px;
height: 60px;
background-color: rgb(20, 184, 255);


padding: 10px;
box-sizing: border-box;
clear: left;

}




