*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#eee;
}

/* HEADER */

.banner{
background:url("/img/guitarras_header.jpg");
background-size:cover;
height:200px;
display:flex;
align-items:flex-end;
justify-content:center;
}

.menu{
background:white;
padding:10px 30px;
margin-bottom:10px;
}

.menu ul{
display:flex;
list-style:none;
gap:30px;
}

.menu a{
text-decoration:none;
color:#333;
}

/* SOBRE */

.sobre{
background:#c40000;
padding:40px;
}

.sobre-container{
max-width:1100px;
margin:auto;
display:flex;
gap:30px;
align-items:center;
}

.texto-loja{
background:#cfa3a3;
padding:30px;
color:white;
width:50%;
}

.imagem-loja img{
width:100%;
height:250px;
object-fit:cover;
}

/* PRODUTOS */

.produtos{
background:#d9d9d9;
padding:50px 0;
}

.produtos-container{
max-width:1100px;
margin:auto;
display:flex;
justify-content:space-between;
}

.produto{
width:23%;
text-align:center;
}

.produto img{
width:120px;
margin-bottom:10px;
}

.preco{
color:red;
font-weight:bold;
margin-top:5px;
}

/* ENDEREÇO */
.mapa{
float:left;
width:45%;
margin-right:5%;
}

.texto-endereco{
float:left;
width:50%;
background:#c49a9a;
padding:30px;
color:white;
}

.endereco{
overflow:hidden;
}

/* CONTATO */

.contato{
background:#e5e5e5;
padding:40px;
}

.contato-container{
max-width:1100px;
margin:auto;
display:flex;
justify-content:space-between;
}

.formulario{
width:50%;
display:flex;
flex-direction:column;
gap:10px;
}

input, textarea{
padding:8px;
border:1px solid #aaa;
}

textarea{
height:100px;
}

button{
padding:10px;
}

.redes{
width:40%;
text-align:center;
}

.icons img{
width:70px;
margin:10px;
}

/* FOOTER */

footer{
background:black;
color:white;
text-align:center;
padding:20px;
}

.icons-footer img{
width:25px;
margin:5px;
}